<footer class="bottom">
  <nav>
    <ul>

      {{ range $.Site.Home.AllTranslations }}
      <li><a href="{{ .Language.LanguageName }}/">{{ .Lang }}</a></li>
      {{ end }}
    </ul>
  </nav>
</footer>
